#
# Visual Studio
#
.vs/

# ReSharper
*.DotSettings.user

#
# Unity 
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uilds/

# Dll extras
*.pdb.meta
*.mdb
*.mdb.meta

# Auto generated VS projects
Assembly-CSharp*.csproj
sugar-demo*.csproj
sugar-demo.sln